<ion-header>
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-menu-button class="title"></ion-menu-button>
        </ion-buttons>
        <ion-title class="title">
            <ion-label>Dashboard</ion-label>
        </ion-title>
    </ion-toolbar>
</ion-header>

<!-- <ion-content padding> -->
<ion-grid style="margin-top: 2rem;     margin-left: 0;
margin-right: 0;
margin-bottom: 0;">
    <ion-row>
        <ion-col size="7">
            <ion-card class="ion-text-center">
                <ion-card-header>
                    <ion-icon name="paper-plane" size=large></ion-icon>
                </ion-card-header>
                <ion-card-content class="text">
                    Announcements
                </ion-card-content>
            </ion-card>
        </ion-col>
        <ion-card class="ion-text-center">
            <ion-card-header>
                <ion-icon name="finger-print" size=large></ion-icon>
            </ion-card-header>
            <ion-card-content class="text">
                Attendance
            </ion-card-content>
        </ion-card>
    </ion-row>
    <ion-row>
        <ion-col size="7">
            <ion-card class="ion-text-center">
                <ion-card-header>
                    <ion-icon name="calendar" size=large></ion-icon>
                </ion-card-header>
                <ion-card-content class="text">
                    Timetable
                </ion-card-content>
            </ion-card>
        </ion-col>
        <ion-card class="ion-text-center">
            <ion-card-header>
                <ion-icon name="document" size=large></ion-icon>
            </ion-card-header>
            <ion-card-content class="text">
                Exams
            </ion-card-content>
        </ion-card>
    </ion-row>
</ion-grid>
<!-- </ion-content> -->