<ion-header>
    <ion-toolbar>
        <ion-title>
            Dashboard
        </ion-title>
    </ion-toolbar>
</ion-header>

<ion-content padding>
    <ion-grid>
        <ion-row>
            <ion-col col-12 col-md-6 col-lg-4 col-xl-3>
                <ion-card>
                    <ion-card-header>
                        <ion-icon name="paper-plane" size=large></ion-icon>
                    </ion-card-header>
                    <ion-card-content>
                        Announcements
                    </ion-card-content>
                </ion-card>
            </ion-col>
            <ion-card col-12 col-md-6 col-lg-4 col-xl-3>
                <ion-card-header>
                    <ion-icon name="finger-print" size=large></ion-icon>
                </ion-card-header>
                <ion-card-content>
                    Attendance
                </ion-card-content>
            </ion-card>
        </ion-row>
        <ion-row>
            <ion-col col-12 col-md-6 col-lg-4 col-xl-3>
                <ion-card>
                    <ion-card-header>
                        <ion-icon name="paper-plane" size=large></ion-icon>
                    </ion-card-header>
                    <ion-card-content>
                        Timetable
                    </ion-card-content>
                </ion-card>
            </ion-col>
            <ion-card col-12 col-md-6 col-lg-4 col-xl-3>
                <ion-card-header>
                    <ion-icon name="finger-print" size=large></ion-icon>
                </ion-card-header>
                <ion-card-content>
                    Exams
                </ion-card-content>
            </ion-card>
        </ion-row>
    </ion-grid>
</ion-content>